{
  "tabWidth": 2,
  "printWidth": 140,
  "singleQuote": true,
  "semi": false,
  "singleAttributePerLine": true,
  "trailingComma": "all",
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "auto",
  "useTabs": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwind": {}
}
